      <div class="timeline-section-heading">
        <h2>My Journey</h2>
      </div>
      <ul class="timeline">
        {% for post in site.posts %}
          {% if post.event == true %}
          <li>
            <div class="timeline-logo">
              <a href="{{post.link}}">
                {% if post.image contains "://" %}
                  <img src="{{ post.image }}" alt="{{post.title}}">
                {% else %}
                  <img src="{{site.baseurl}}{{ post.image }}" alt="{{post.title}}">
                {% endif %}
              </a>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>{{ post.duration }}</h4>
              </div>
              <div class="timeline-body">
                {{ post.description | markdownify }}
              </div>
            </div>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
